nav {
    background-color:aquamarine ;
    margin: 0 auto;
    max-width: 800px;

    display: flex;
}
nav ul {
    list-style-type: none;
}
nav a{
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}
nav a:hover{
    border: 1px solid #fff;
}

.active {
    color: yellow;
}